html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 2px;
  padding: 0;
  background-color: #F1F6F9;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  padding: 2px;
  display: inline;
  text-align: center;
  flex: 1;
  border: solid 1px #1F82BE;
  border-collapse: collapse;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #212A3E;
}

nav li:hover {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #212A3E;
}

h2 {
  margin-top: 40px;
  color: #394867;
}

p {
  color: rgb(102, 102, 102);
  line-height: 1.6;
  margin-bottom: 20px;
  color: #7B8485;
}

ul, ol {
  font-size: 1.6;
}

li {
  color: rgb(102, 102, 102);
  margin-bottom: 12px;
  color: #7B8485;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button-set {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
    
.button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
}

.button.selected {
  background-color: lightblue;
}

.hidden {
  display: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

.message {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  display: none;
  transition: opacity 0.3s ease-in-out;
}